<% if session[:user] == nil %>
  <% redirect '/invalid' %>
    <% elsif session[:user] != nil %><%end%>
    <nav class='nav'>
      <div>fishbook</div>
      <div><img src="/images/tuna1.png"></div>
      <div>
        <a href="/profile">
          <button class="log-btn" type="submit">Your Profile</button>
        </a>
      </div>
      <div>
        <a href="/settings">
          <button class="log-btn">Profile Settings</button>
        </a>
      </div>
      <div>
        <a href="/log_out">
          <button class="log-btn" type="submit">Log Out</button>
        </a>
      </div>
    </nav>
    <h1 class="set-cont">More of <%= session[:user].name%>'s Posts</h1>
    <% @userposts.first(20).reverse.each do |o| o.created_at %>
      <div class="post-cont">
        <h2> <%= o.title %></h2>
        <p>By:
          <%= o.author %></p>

        <p>Content: <%= o.content %></p>
        <p>Posted At:
          <%= o.created_at %></p>

        <a href="/postdestroyer/<%= o.id %>">
          <button class="signup-btn">
            Delete Post</button>
        </a>
      </div>
    <%end%>
