<% if session[:user] == nil %>
  <% redirect '/invalid' %>
    <% elsif session[:user] != nil %><%end%>
    <nav class='nav'>
      <div>fishbook</div>
      <div><img src="/images/tuna1.png"></div>
      <div>
        <a href="/feed">
          <button class="log-btn" type="submit">Public Post Feed</button>
        </a>
      </div>
      <div>
        <a href="/settings">
          <button class="log-btn">Profile Settings</button>
        </a>
      </div>
      <div>
        <a href="/log_out">
          <button class="log-btn" type="submit">Log Out</button>
        </a>
      </div>
    </nav>
    <div class="head">
      <h1><%= session[:user].name%>'s Account Page</h1>

    </div>
    <section class="prof-cont">
      <div>
        <h1>About
          <%= session[:user].name%></h1>
        <img src="/images/<%= session[:user].image_url %>" class="profile-image">
        <p>Full Name:
          <%= session[:user].name %>
          <%= session[:user].last_name %>
          <p>Birthday:
            <%= session[:user].bday %></p>
          <p>E-mail:
            <%= session[:user].email %></p>
        </div>
        <div>
          <h1>Create a new post!</h1>
          <form action="/post" method="POST">
            <input id="title" type="text" name="title" placeholder="Title" required="required"><br>
            <input id="content" type="text" name="content" placeholder="What's on your mind?" required="required"><br>
            <button type="submit" class="log-btn" >Submit!</button>
          </form>
          <h1><%= session[:user].name%>'s Posts</h1>
          <% @userposts.last(3).reverse.each do |o| o.created_at %>
            <div class="post-cont">
              <h2> <%= o.title %></h2>
              <p>By:
                <%= o.author %></p>

              <p>Content: <%= o.content %></p>
              <p>Posted At:
                <%= o.created_at %></p>

              <a href="/postdestroyer/<%= o.id %>">
                <button class="signup-btn">
                  Delete Post</button>
              </a>
            </div>
          <%end%><a href="/pfeed">
          <button class="signup-btn">
            See More of <%= session[:user].name%>'s Posts</button>
          </a>
        </div>
      </div>
    </section>
